{% extends "users/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center m-3">Empoworx Employee System</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h2>Welcome  {{ user.first_name }} {{ user.last_name }}!</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Attendance</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Leave</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Awards</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notice Board <a href="#" class="float-end">View all</a></h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>[Month]<br>[date]</td>
                                <td>[e.g. VACANCY]<br>[e.g. vacancy announcement]</td>
                            </tr>
                            <tr>
                                <td>[Month]<br>[date]</td>
                                <td>[e.g., Thanksgiving day]<br>[e.g., Please do not miss the thanksgiving day]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}