{% extends "users/base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-4 mt-6">
        <h3 class="text-left mt-2 mb-1">Welcome {{ user.first_name }} {{ user.last_name }}!</h3>
        <div class="col-md-12">
            <h4 class="mt-3">Leave Summary</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave_application in leave_applications %}
                        <tr>
                            <td>{{ leave_application.leave_type }}</td>
                            <td>{{ leave_application.start_date }}</td>
                            <td>{{ leave_application.end_date }}</td>
                            <td>{{ leave_application.status }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No leave applications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock %}
